.logo {
    width: 7.5rem;
    border-radius: 50%;
    border: 0.5rem solid var(--cor-hover);
}

#apresentacao {
    margin: 2% 0% 1% 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

    & #apresentacao__conteudo {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 0.5rem;


        & #apresentacao__conteudo__menu {
            display: flex;
            gap: 2rem;
            margin-right: auto;

            & .apresentacao__conteudo__menu__item__selecionado {
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--cor-hover);
                text-decoration: none;
            }

            & .apresentacao__conteudo__menu__item {
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--cor-terciaria);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    transition-duration: 400ms;
                    color: var(--cor-hover);
                }
            }
        }
    }

    & #apresentacao__conteudo__descricao {
        width: 100%;
        margin-top: 2rem;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        text-align: center;
        font-size: 1.2rem;
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;


        & strong {
            color: var(--cor-terciaria);
        }

        & p {
            width: 100%;
            color: var(--cor-terciaria);
            font-family: var(--fonte-secundaria);
            font-size: 1.5rem;
            margin: 0.5em 0;
        }
    }

    & #apresentacao__conteudo__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
        z-index: 100;

        & #apresentacao__conteudo__links__subtitulo {
            font-family: var(--fonte-primaria);
            color: var(--cor-secundaria);
            font-weight: 400;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            display: flex;


        }

        & .apresentacao__conteudo__links__redes {
            /* background-color: #22D4FD; */

            gap: 0.5rem;
            width: 80%;
            border: 2px solid var(--cor-terciaria);
            font-size: 1rem;



            border-radius: 1rem;
            padding: 0.5rem 0;
            text-decoration: none;
            color: var(--cor-secundaria);
            font-family: var(--fonte-secundaria);
            font-weight: 600;

            & .apresentacao__conteudo__links__redes__icone {
                width: 1.2rem;
                filter: brightness(0) invert(1);

            }

            & box-icon {
                color: var(--cor-terciaria);
            }

            &:hover {
                transform: scale(1.12);
                background-color: var(--cor-hover);
                /* font-size: 1.5rem; */
                transition-duration: 400ms;


                .apresentacao__conteudo__links__redes__icone {
                    /* width: 2.5rem; */
                    transition-duration: 400ms;
                }
            }
        }
    }
}

#foto-perfil {
    box-sizing: border-box;
    border-radius: 20%;
    width: 80%;

}

.destaque {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 426px) {

    .logo {
        width: 7.5rem;
        border-radius: 50%;
        border: 0.5rem solid var(--cor-hover);
    }

    #apresentacao {
        margin: 2% 3%;
        text-align: center;
        display: grid;
        grid-template-columns: 100% 0;


        & #apresentacao__conteudo {
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;


            & #apresentacao__conteudo__menu {
                display: flex;
                width: 100%;

                & .apresentacao__conteudo__menu__item__selecionado {
                    font-family: var(--fonte-secundaria);
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--cor-hover);
                    text-decoration: none;
                }

                & .apresentacao__conteudo__menu__item {
                    font-family: var(--fonte-secundaria);
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--cor-terciaria);
                    text-decoration: none;
                    width: 5.5rem;

                    &:hover {
                        text-decoration: underline;
                        transition-duration: 400ms;
                        color: var(--cor-hover);
                    }
                }
            }
        }

        & #apresentacao__conteudo__descricao {
            width: 100%;
            padding: 0 1rem;
            margin-top: 2rem;
            color: var(--cor-secundaria);
            font-family: var(--fonte-secundaria);
            text-align: justify;
            font-size: 1rem;
            transition: opacity 1s ease-out;
            opacity: 0;
            height: 40vh;
            overflow: hidden;
            flex-wrap: wrap;


            & strong {
                color: var(--cor-terciaria);
            }

            & p {
                width: 100%;
                color: var(--cor-terciaria);
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                margin: 1em 0;
                justify-content: center;
                display: flex;
            }
        }

        & #apresentacao__conteudo__links {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 0.5rem;
            z-index: 100;

            & #apresentacao__conteudo__links__subtitulo {
                font-family: var(--fonte-primaria);
                color: var(--cor-secundaria);
                font-weight: 400;
                font-size: 1.5rem;
                margin-top: 0.5rem;
                display: flex;
                justify-content: center;


            }

            & .apresentacao__conteudo__links__redes {

                gap: 0.5rem;
                width: 100%;
                border: 2px solid var(--cor-terciaria);
                font-size: 1.5rem;
                margin: 1 0.5rem;



                border-radius: 1rem;
                padding: 0.5rem 0;
                text-decoration: none;
                color: var(--cor-secundaria);
                font-family: var(--fonte-secundaria);
                font-weight: 600;

                & .apresentacao__conteudo__links__redes__icone {
                    width: 1.5rem;
                    filter: brightness(0) invert(1);

                }

                & box-icon {
                    color: var(--cor-terciaria);
                }

                &:hover {
                    transform: scale(1);
                    background-color: var(--cor-hover);
                    /* font-size: 1.5rem; */
                    transition-duration: 400ms;


                    .apresentacao__conteudo__links__redes__icone {
                        /* width: 2.5rem; */
                        transition-duration: 150ms;
                    }
                }
            }
        }
    }

    #foto-perfil {
        display: none;
        width: none;
    }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {

    #apresentacao {
        margin: 2% 0% 1% 5%;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;

        & #apresentacao__conteudo {
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
            gap: 0.5rem;


            & #apresentacao__conteudo__menu {
                display: flex;
                gap: 2rem;
                margin-right: auto;

                & .apresentacao__conteudo__menu__item__selecionado {
                    font-family: var(--fonte-secundaria);
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--cor-hover);
                    text-decoration: none;
                }

                & .apresentacao__conteudo__menu__item {
                    font-family: var(--fonte-secundaria);
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--cor-terciaria);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        transition-duration: 400ms;
                        color: var(--cor-hover);
                    }
                }
            }
        }

        & #apresentacao__conteudo__descricao {
            width: 100%;
            margin-top: 2rem;
            color: var(--cor-secundaria);
            font-family: var(--fonte-secundaria);
            text-align: justify;
            font-size: 1.2rem;
            transition: opacity 1s ease-out;
            opacity: 0;
            height: 0;
            overflow: hidden;


            & strong {
                color: var(--cor-terciaria);
            }

            & p {
                width: 100%;
                color: var(--cor-terciaria);
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                margin: 0.5em 0;
            }
        }

        & #apresentacao__conteudo__links {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            margin-bottom: 0.5rem;
            z-index: 100;

            & #apresentacao__conteudo__links__subtitulo {
                font-family: var(--fonte-primaria);
                color: var(--cor-secundaria);
                font-weight: 400;
                font-size: 1.4rem;
                margin-top: 0.5rem;
                display: flex;


            }

            & .apresentacao__conteudo__links__redes {

                gap: 0.5rem;
                width: 100%;
                border: 2px solid var(--cor-terciaria);
                font-size: 1rem;



                border-radius: 1rem;
                padding: 0.5rem 0;
                text-decoration: none;
                color: var(--cor-secundaria);
                font-family: var(--fonte-secundaria);
                font-weight: 600;

                & .apresentacao__conteudo__links__redes__icone {
                    width: 1.2rem;
                    filter: brightness(0) invert(1);

                }

                & box-icon {
                    color: var(--cor-terciaria);
                }

                &:hover {
                    &:hover {
                        transform: scale(1);
                        background-color: var(--cor-hover);
                        /* font-size: 1.5rem; */
                        transition-duration: 400ms;


                        .apresentacao__conteudo__links__redes__icone {
                            /* width: 2.5rem; */
                            transition-duration: 150ms;
                        }


                        .apresentacao__conteudo__links__redes__icone {
                            /* width: 2.5rem; */
                            transition-duration: 400ms;
                        }
                    }
                }
            }
        }
    }
}