:root {
    --cor-primaria: #404040;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #D41C1C;
    --cor-hover: #910000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

.boas_vindas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    text-align: center;

    & h1{
        color: var(--cor-secundaria);
        font-size: 5rem;
        font-family: var(--fonte-primaria);
    }

    & h2{
        color: var(--cor-secundaria);
        font-size: 5rem;
        font-family: var(--fonte-secundaria);

        & strong{
            color: var(--cor-terciaria);
            font-weight: 700;
        }
    }

    & h3{
        color: var(--cor-secundaria);
        font-size: 4rem;
        font-family: var(--fonte-secundaria);


        & strong{
            color: var(--cor-terciaria);
            font-weight: 700;
        }
    }

    & h4{
        margin-top: 2rem;
        font-size: 1.5rem;
        color: var(--cor-hover);

        & a{
            text-decoration:none;
            color: var(--cor-terciaria);

            &:hover{
                text-decoration: underline;
                transition-duration: 400ms;
                color: var(--cor-hover);
            }
        }
    }
}

.icones{
    display: flex;
    justify-content: center;
}
#saiba_mais{ 
    display: flex;
    text-align: center;

    & img{
        width: 24%;
        margin-right: 4rem;
        
    }

    & .saiba_mais__icones {
        margin: 2rem 3rem;
        width: 4rem;
        filter: brightness(0) invert(1);

        }
    
    & #saiba_mais__navegador{
        font-family:var(--fonte-primaria);
        font-size: 3rem;

        & .saiba_mais__navegador__item{
            margin-right: 5rem;
            text-decoration: none;
            color: var(--cor-terciaria);
            color: red;
            padding-bottom: 0.5rem;
            position: relative;
    
            &:hover {
                text-decoration: underline;
                transition-duration: 400ms;
                color: var(--cor-hover);
            }
        }
    }
}
