#apresentacao__conteudo__projetos {
    display: flex;
    width: 90%;
    align-items: center;
    height: 14rem;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 2em 0;

    
    & .galeria{
        width: 800px;
        display: flex;
        overflow-x: scroll;
        overflow: hidden;

        & div{
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1rem;
            padding: 0.5rem;
            flex: none;

        }

        & img{
            width: 100%;
            filter: grayscale(100%);
            transition: 400ms;
            opacity: 0.8;

            &:hover{
                filter: grayscale(0);
                cursor: pointer;
                transform: scale(1.1);
            }
        }

    }

    & #btn-anterior{
        transform: scaleX(-1);
        width: 3rem;
        cursor: pointer;
        margin: 0 2rem 0 0;

        &:hover{
            transition-duration: 500ms;
            width: 3.5rem;
        }
    }

    & #btn-proximo{
        width: 3rem;
        cursor: pointer;
        margin: 0 2rem 0 0x;

        &:hover{
            transition-duration: 500ms;
            width: 3.5rem;
        }
    }
}