@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #404040;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #D41C1C;
    --cor-hover: #910000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {

    background: rgb(2, 0, 36);
    background-size: contain;
    background-repeat: no-repeat;
    background: linear-gradient(133deg, rgba(2, 0, 36, 1) 0%, rgba(115, 0, 0, 1) 52%, rgba(2, 0, 36, 1) 100%);
    background-position: center;
    width: 100%;
    height: 100vh;
}

#cabecalho {
    margin: 1% 5% 0% 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & .avatar {
        display: flex;
        flex-direction: column;
        text-align: center;

        & h4 {
            font-family: var(--fonte-secundaria);
            margin-top: 1rem;
            font-size: 1.2rem;
            color: var(--cor-hover);

            & a {
                text-decoration: none;
                color: var(--cor-terciaria);

                &:hover {
                    text-decoration: underline;
                    transition-duration: 400ms;
                    color: var(--cor-hover);
                }
            }
        }
    }

    & #cabecalho__informacoes__nome {
        font-family: var(--fonte-primaria);
        font-size: 2rem;
        color: var(--cor-secundaria);
    }

    & #cabecalho__informacoes__funcao {

        display: flex;
        font-family: var(--fonte-primaria);
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--cor-terciaria);
        margin: 0.5% 0% 2% 0%;
        justify-content: end;
    }

    & #cabecalho__informacoes__programas {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;

        & .cabecalho__informacoes__programas__icone {
            font-size: 3.5rem;
            color: white;
        }
    }
}



#apresentacao {
    margin: 2% 0% 1% 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

    & #apresentacao__conteudo {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1.5rem;
        height: 10rem;


        & #apresentacao__conteudo__menu {
            display: flex;
            gap: 2rem;
            margin-right: auto;

            & .apresentacao__conteudo__menu__item__selecionado {
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--cor-hover);
                text-decoration: none;
            }

            & .apresentacao__conteudo__menu__item {
                font-family: var(--fonte-secundaria);
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--cor-terciaria);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    transition-duration: 400ms;
                    color: var(--cor-hover);
                }
            }
        }

        ::after {
            content: "";
            width: 0px;
            height: 4px;
            border-radius: 2px;
            background-color: darkred;
            position: absolute;
            top: 100%;
            left: 50%;
            opacity: 0;
            transition-duration: 200ms;
        }
    }

    & #apresentacao__conteudo__descricao {
        width: 70%;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        font-size: 1.2rem;


        & strong {
            color: var(--cor-terciaria);
        }

        & p {
            width: 100%;
            color: var(--cor-terciaria);
            font-family: var(--fonte-secundaria);
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    }

    & #apresentacao__conteudo__links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        & #apresentacao__conteudo__links__subtitulo {
            font-family: var(--fonte-primaria);
            color: var(--cor-secundaria);
            font-weight: 400;
            font-size: 1.4rem;
            margin-top: 1rem;
            display: flex;


        }

        & .apresentacao__conteudo__links__redes {
            /* background-color: #22D4FD; */

            gap: 0.5rem;
            width: 80%;
            border: 2px solid var(--cor-terciaria);
            font-size: 1rem;


            border-radius: 1rem;
            padding: 0.5rem 0;
            text-decoration: none;
            color: var(--cor-secundaria);
            font-family: var(--fonte-secundaria);
            font-weight: 600;

            & .apresentacao__conteudo__links__redes__icone {
                width: 1.2rem;
                filter: brightness(0) invert(1);

            }

            & box-icon {
                color: var(--cor-terciaria);
            }

            &:hover {
                background-color: var(--cor-hover);
                font-size: 1.5rem;
                transition-duration: 200ms;


                .apresentacao__conteudo__links__redes__icone {
                    width: 2.5rem;
                    transition-duration: 150ms;
                }
            }
        }
    }
}

#foto-perfil {
    box-sizing: border-box;
    border-radius: 20%;
    width: 75%;

}

.foto {
    height: 100hv;
}

.logo {
    width: 9rem;
    border-radius: 50%;
    border: 0.5rem solid var(--cor-hover);
}