@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/css/apresentacao.css);
@import url(/css/cabecalho.css);
@import url(/css/effects.css);
@import url(/css/formacoes.css);
@import url(/css/index.css);
@import url(/css//navegacao.css);
@import url(/css/projetos.css);

:root {
    --cor-primaria: #404040;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #D41C1C;
    --cor-hover: #910000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {

    background: rgb(2, 0, 36);
    background-size: contain;
    background-repeat: no-repeat;
    background: linear-gradient(133deg, rgba(2, 0, 36, 1) 0%, rgba(115, 0, 0, 1) 52%, rgba(2, 0, 36, 1) 100%);
    background-position: center;
    width: 100%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
}